<h1>List of All Todos</h1>

<p>
  <%= link_to "Create a Todo", new_todo_path %>
</p>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <% @todos.each do |l| %>
    <tr>
      <td><%= l.name %></td>
      <td><%= l.description %></td>
      <td><%= link_to "Edit", edit_todo_path(l) %></td>
      <td><%= link_to "Show", todo_path(l) %></td>
    </tr>  
  <% end %> 
</table>