<%= render 'shared/page_title', title: "Show to do" %>

<div class="well col-md-10 col-md-offset-1">
  <p>
    name: <%= @todo.name %>
  </p>
  
  <p>
    description: <%= @todo.description %>
  </p>
  
  
  <%= link_to "Edit the form", edit_todo_path(@todo) %> |
  <%= link_to "Show the whole list", todos_path %>
</div>